<div class="container mt-5">
  <div class="card shadow-sm">
    <div class="card-body">
      <h2 class="card-title">Contact</h2>
      <p class="card-text">
        Yusuf Zidane Rukmanda || 20190140083
      </p>
    </div>
  </div>

  <a href="/" class="btn btn-primary mt-3">Kembali ke Beranda</a>
</div>
