<!DOCTYPE html>
<html lang="en">
    <body>
        <div class="container mt-5">
            <h1>Welcome to the Todo Application</h1>
            <p>This is the home page. Use the navigation bar to explore.</p>
            <a href="/contact" class="btn btn-primary me-2">Contact Page</a>
            <a href="/todos-list" class="btn btn-primary">Database Perpustakaan</a>
        </div>
    </body>
</html>